@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  cursor: pointer;
}

body {
  background: $body-bg-color;
  font: 400 1rem $fontFamily;
}

.hide {
  display: none;
}
